* {
    height: 50px;
    background-color: gray;
}

h1 {
    
    font-family: 'Courier New', monospace;
    color: skyblue;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    margin: 0px;
}

span {
    font-family: 'Courier New', monospace;
    font-size: 30px;
    color: skyblue;
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    margin: 0px;
}

div {
    padding-top: 15px;
}